{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": [
                    "firefox >= 36",
                    "chrome >= 53",
                    "safari >= 11"
                ]
            }
        }]
    ]
}
